# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/

# macOS
.AppleDouble
.LSOverride

# Xcode user data
xcuserdata/
*.xcuserstate

# Secrets
Money Watcher/Config/Secrets.xcconfig